:root{
    --bg-color: rgb(47, 50, 50);
}

.navbar{
    padding: 2rem;
    
}

/* En esta clase estan contenido los elementos */
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}