.ejemplo-1{
    background-color: aquamarine;
    height: 250px;
    color: white;
    font-size: 50px;
}

.ejemplo-2{
    background-color:coral;
    height: 250px;
    color: white;
    font-size: 50px;
}
